// Modifed the modern Mastodon theme by importing the variables and application styles, and then overwriting some things

@import 'mastodon-light/variables';
@import 'index';
@import 'modern/style';
@import 'modern/glitch-fixes';
@import 'mastodon-light/diff';

body {
    font-family: sans-serif;

    --color-background: #ffffff;
    --color-primary: #009688;
    --color-accent: #ff4081;
}