// Modifed the modern Mastodon theme by importing the variables and application styles, and then overwriting some things

@import 'mastodon/variables';
@import 'application';
@import 'modern/style';

@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body {
    font-family: "Tilt Warp", sans-serif;

    --color-background: #1a1a1a;
    --color-primary: #f57c00;
    --color-accent: #ba68c8;
}