// Modifed the modern Mastodon theme by importing the variables and application styles, and then overwriting some things

@import 'mastodon/variables';
@import 'application';
@import 'modern/style';

body {
    font-family: sans-serif;

    --color-background: #000000;
    --color-primary: #009688;
    --color-accent: #ff4081;
}